@font-face {
    font-family: Aileron-bold;
    src: url(fonts/Aileron-bold.otf);
}

@font-face {
    font-family: adam;
    src: url(fonts/ADAM.otf);
}

@font-face {
    font-family: Aileron-regular;
    src: url(fonts/Aileron-Regular.otf);
}
@font-face {
    font-family: Aileron-light;
    src: url(fonts/Aileron-Light.otf);
}


body {
  font-family: Aileron-regular;
  margin: 0;
  box-sizing: border-box;
  background-color: #DFE4E7;
}

h1 {
  color: #FDFDFD;
  font-family: adam;
  padding-right: .8em;
}

a {
  text-decoration: none;
  color: #1D1D1D;
}

a:link {
  color: blue;
  font-family: adam;
}

a:visited {
  color: #FDFDFD;
}

a:hover {
  color: red;
}

.go-to-post a:visited {
  color:black;
}

ul {
    list-style-type: none;
}

.fa {
  color: #71B759;
}

#sidebar {
  position: fixed;
  text-align: right;
  top: 0;
  bottom: 0;
  background-color: #15151D;
  min-width: 20em;
  padding-top:.5em;
}

#post-list {
  max-width: 54em;
  position: relative;
  margin-left:20em;
  background-color: #FDFDFD;
  min-height: 100%;
}

#main {
  background-color: #DFE4E7;

}

.post {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width:48em;
}

.post h2 {
  display: inline;
}

.date {
  display: inline-block;
  float: right;
}

.content {
  margin-top: 1em;
}


.go-to-post {

}
#social, #links {
  padding-right: 1.6em;
}

#social a, span {
  display: inline;
}

@media(max-width: 768px) {
  #sidebar {
    min-width: 15em;
  }
  #post-list {
  margin-left:15em;
  }
}

@media(max-width: 600px) {
  #sidebar {
    position:relative;
    height:10em;
    text-align: center;
  }
  #post-list {
  margin-left:0;
  }

  #sidebar  li {
    display: inline;
  }

  h1 {
    padding-right: 0;
  }

  body {
    font-size: 85%;
  }
}

@media(min-width: 1200px) {
  body {
    background-color:;
  }

}
